body {
  margin: 0px;
}

header {
  display: flex;
  height: 75%;
  background-color: rgb(250, 119, 241);
  justify-content: center;
  /*donde quiero poner el contenido*/
  align-items: flex-end;
  /*centrar logo y texto*/
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 80%;
  /*tamaño de la imagen del logo */
  margin-right: 30px;
  /*margen con el texto*/
}

.segundo {
  display: flex;
  justify-content: space-between;
  background-color: red;
  margin: 3px;
  padding: 5px;
}

/*requisitos*/
.requisi {
  justify-content: space-around;
  display: flex;

}

nav {
  display: flex;
  justify-content: center;

}

.listrequi {
  margin: 0px;
  font-size: 20px;
  text-align: left;
  display: inline-block;
}

.listrequi h3 {
  color: red;
  margin: 10px;
  font-size: 40px;
}

/*ak enpieza el titulo*/
.titulo {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  ;
  background-color: aqua;
}

/*pongo el solicitado junto con el selector */
.selecamb {
  display: flex;
  padding: 15px;
  margin: 0px;
}

.selec {
  margin: 0px;
  padding-right: 15px;
  background-color: rgb(31, 171, 47);
}


.formu1 input[type=texto],
select {
  width: 20%;
  padding: 12px 20px;
  margin: 2px 20px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: content-box;
}

formu1 {
 display: none;
  padding: 10px;
  background-color: rgb(227, 154, 220);
}

#tipodni {
  width: auto;
}

#genero {
  width: auto;
}